[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
zappa = "*"
pylint = "*"
responses = "*"

[requires]
python_version = "3.6"

[packages]
flask = "*"
pytest = "*"
uuid = "*"
boto3 = "*"
flask-marshmallow = "*"
openeo-pg-parser-python = {git = "https://github.com/Open-EO/openeo-pg-parser-python.git"}
