[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
zappa = "*"
pylint = "*"
responses = "*"

[requires]
python_version = "3.6"

[packages]
flask = "*"
pytest = "*"
boto3 = "*"
flask-marshmallow = "*"
openeo-pg-parser-python = {git = "https://github.com/Ardweaden/openeo-pg-parser-python.git@7e652cb656187cdd8f0b0168d2eea937807fdb34#egg=openeo-pg-parser"}
requests = "*"
flask-cors = "*"
honeycomb-beeline = "*"
