{
  "testing": {
    "app_function": "app.app",
    "aws_region": "eu-central-1",
    "lambda_description": "Testing deploy of Sentinel Hub openEO backend",
    "environment_variables": {
      "DEPLOYMENT_TYPE": "testing",
      "AWS_ACCESS_KEY_ID": "@@AWS_ACCESS_KEY_ID@@",
      "AWS_SECRET_ACCESS_KEY": "@@AWS_SECRET_ACCESS_KEY@@",
      "SH_CLIENT_ID": "@@TESTING_SH_CLIENT_ID@@",
      "SH_CLIENT_SECRET": "@@TESTING_SH_CLIENT_SECRET@@",
      "BACKEND_VERSION": "@@BACKEND_VERSION@@",
      "RESULTS_S3_BUCKET_NAME_MAIN": "@@RESULTS_S3_BUCKET_NAME_MAIN@@",
      "RESULTS_S3_BUCKET_NAME_CREODIAS": "@@RESULTS_S3_BUCKET_NAME_CREODIAS@@",
      "RESULTS_S3_BUCKET_NAME_USWEST": "@@RESULTS_S3_BUCKET_NAME_USWEST@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST@@",
      "USAGE_REPORTING_BASE_URL": "@@USAGE_REPORTING_BASE_URL_TESTING@@",
      "USAGE_REPORTING_AUTH_URL": "@@USAGE_REPORTING_AUTH_URL_TESTING@@",
      "USAGE_REPORTING_AUTH_CLIENT_ID": "@@USAGE_REPORTING_AUTH_CLIENT_ID_TESTING@@",
      "USAGE_REPORTING_AUTH_CLIENT_SECRET": "@@USAGE_REPORTING_AUTH_CLIENT_SECRET_TESTING@@",
      "LOGGING_LEVEL": "@@LOGGING_LEVEL@@"
    },
    "memory_size": 4096,
    "timeout_seconds": 30,
    "profile_name": "default",
    "project_name": "openeo",
    "runtime": "python3.9",
    "manage_roles": false,
    "role_arn": "arn:aws:iam::127163565383:role/openEO-dev-role",
    "s3_bucket": "openeodevdeploy",
    "tags": { 
      "cost:ou": "frontend",  
      "cost:contact": "dthiex",
      "env": "dev",
      "project": "openEO"
    }
  },
  "production": {
    "app_function": "app.app",
    "aws_region": "eu-central-1",
    "lambda_description": "Production deploy of Sentinel Hub openEO backend",
    "environment_variables": {
      "DEPLOYMENT_TYPE": "production",
      "AWS_ACCESS_KEY_ID": "@@AWS_ACCESS_KEY_ID@@",
      "AWS_SECRET_ACCESS_KEY": "@@AWS_SECRET_ACCESS_KEY@@",
      "SH_CLIENT_ID": "@@PRODUCTION_SH_CLIENT_ID@@",
      "SH_CLIENT_SECRET": "@@PRODUCTION_SH_CLIENT_SECRET@@",
      "BACKEND_VERSION": "@@BACKEND_VERSION@@",
      "RESULTS_S3_BUCKET_NAME_MAIN": "@@RESULTS_S3_BUCKET_NAME_MAIN@@",
      "RESULTS_S3_BUCKET_NAME_CREODIAS": "@@RESULTS_S3_BUCKET_NAME_CREODIAS@@",
      "RESULTS_S3_BUCKET_NAME_USWEST": "@@RESULTS_S3_BUCKET_NAME_USWEST@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST@@",
      "USAGE_REPORTING_BASE_URL": "@@USAGE_REPORTING_BASE_URL_PRODUCTION@@",
      "USAGE_REPORTING_AUTH_URL": "@@USAGE_REPORTING_AUTH_URL_PRODUCTION@@",
      "USAGE_REPORTING_AUTH_CLIENT_ID": "@@USAGE_REPORTING_AUTH_CLIENT_ID_PRODUCTION@@",
      "USAGE_REPORTING_AUTH_CLIENT_SECRET": "@@USAGE_REPORTING_AUTH_CLIENT_SECRET_PRODUCTION@@",
      "LOGGING_LEVEL": "@@LOGGING_LEVEL@@"
    },
    "memory_size": 4096,
    "timeout_seconds": 30,
    "profile_name": "default",
    "project_name": "openeo",
    "runtime": "python3.9",
    "manage_roles": false,
    "role_arn": "arn:aws:iam::707953651112:role/openEO-prod-role",
    "s3_bucket": "openeoproddeploy",
    "tags": { 
      "cost:ou": "frontend",  
      "cost:contact": "dthiex",
      "env": "prod",
      "project": "openEO"
    }
  }
}