{
  "testing": {
    "app_function": "app.app",
    "aws_region": "eu-central-1",
    "lambda_description": "Testing deploy of Sentinel Hub openEO backend",
    "environment_variables": {
      "DEPLOYMENT_TYPE": "testing",
      "AWS_ACCESS_KEY_ID": "@@AWS_ACCESS_KEY_ID@@",
      "AWS_SECRET_ACCESS_KEY": "@@AWS_SECRET_ACCESS_KEY@@",
      "SH_CLIENT_ID": "@@TESTING_SH_CLIENT_ID@@",
      "SH_CLIENT_SECRET": "@@TESTING_SH_CLIENT_SECRET@@",
      "BACKEND_VERSION": "@@BACKEND_VERSION@@",
      "RESULTS_S3_BUCKET_NAME_MAIN": "@@RESULTS_S3_BUCKET_NAME_MAIN@@",
      "RESULTS_S3_BUCKET_NAME_CREODIAS": "@@RESULTS_S3_BUCKET_NAME_CREODIAS@@",
      "RESULTS_S3_BUCKET_NAME_USWEST": "@@RESULTS_S3_BUCKET_NAME_USWEST@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST@@"
    },
    "memory_size": 512,
    "timeout_seconds": 180,
    "profile_name": "default",
    "project_name": "openeo",
    "runtime": "python3.9",
    "s3_bucket": "openeodevdeploy"
  },
  "production": {
    "app_function": "app.app",
    "aws_region": "eu-central-1",
    "lambda_description": "Production deploy of Sentinel Hub openEO backend",
    "environment_variables": {
      "DEPLOYMENT_TYPE": "production",
      "AWS_ACCESS_KEY_ID": "@@AWS_ACCESS_KEY_ID@@",
      "AWS_SECRET_ACCESS_KEY": "@@AWS_SECRET_ACCESS_KEY@@",
      "SH_CLIENT_ID": "@@PRODUCTION_SH_CLIENT_ID@@",
      "SH_CLIENT_SECRET": "@@PRODUCTION_SH_CLIENT_SECRET@@",
      "BACKEND_VERSION": "@@BACKEND_VERSION@@",
      "RESULTS_S3_BUCKET_NAME_MAIN": "@@RESULTS_S3_BUCKET_NAME_MAIN@@",
      "RESULTS_S3_BUCKET_NAME_CREODIAS": "@@RESULTS_S3_BUCKET_NAME_CREODIAS@@",
      "RESULTS_S3_BUCKET_NAME_USWEST": "@@RESULTS_S3_BUCKET_NAME_USWEST@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_MAIN@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_CREODIAS@@",
      "RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST": "@@RESULTS_S3_BUCKET_ACCESS_KEY_ID_USWEST@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_MAIN@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_CREODIAS@@",
      "RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST": "@@RESULTS_S3_BUCKET_SECRET_ACCESS_KEY_USWEST@@"
    },
    "memory_size": 512,
    "timeout_seconds": 29,
    "profile_name": "default",
    "project_name": "sentinelhub-openeop",
    "runtime": "python3.9",
    "s3_bucket": "shopeneoproduction"
  }
}