[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
responses = "*"
pylint = "*"

[packages]
pandas = "==0.24.2"
python-dotenv = "*"
xarray = "*"
gdal = "==2.2.2"
boto3 = "*"
eo-learn-core = "*"
psutil = "*"
honeycomb-beeline = "*"
sentinelhub = "*"
requests-futures = "*"
dask = {extras = ["complete"],version = "*"}
imageio = "*"

[requires]
python_version = "3.6"
